<div class="container" *ngIf="auth.user$ | async as user">
    <div class="card mb-3" style="max-width: 540px; margin-top: 5em; margin-left: 15em;">
        <div class="row g-0">
          <div class="col-md"></div>
          <div class="col-md-10 mt-5 mb-5" >
            <div class="rainbow">
            <img [src]="user.picture" class="img-fluid rounded-start" style=" height: 25em; width: 28em;" alt="..." width="100%" height="100%">
            </div>
        </div>
          <div class="col-md"></div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{user.name}}</h5>
                  <p class="card-text"><strong>Name: </strong> {{user.given_name}}</p>
                  <p class="card-text"><strong>Apellidos: </strong> {{user.family_name}}</p>
                  <p class="card-text"><strong>Idioma: </strong> {{user.locale}}</p>
                  <p class="card-text"><strong>Email: </strong> {{user.email}}</p>
                  <p class="card-text"><small><strong>Email verified: </strong> {{user.email_verified}} </small></p>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="mt-5" style="margin-left: 45%;">
  <button class="boton" (click)="shareOnFacebook()">Compartir en Facebook</button>
</div>

<div style=" display:block; height:2.55em;">

</div>