<div class="contenedor">
    <div class="tabla">
        <h2>Basico</h2>
        <img src="https://cdn-icons-png.flaticon.com/128/6490/6490826.png" alt="">
        <h3>100 <sup>$</sup></h3>
        <p>Paga ahora 100 y recibe tu plan Basico</p>
        <a id="paypal-button-1"></a>
    </div>
    <div class="tabla">
        <h2>Estandar</h2>
        <img src="https://cdn-icons-png.flaticon.com/128/5261/5261174.png" alt="">
        <h3>200 <sup>$</sup></h3>
        <p>Paga ahora 200 y recibe tu plan Estandar</p>
        <a id="paypal-button-2"></a>
    </div>
    <div class="tabla">
        <h2>Premium</h2>
        <img src="https://cdn-icons-png.flaticon.com/128/2302/2302739.png" alt="">
        <h3>300 <sup>$</sup></h3>
        <p>Paga ahora 300 y recibe tu plan Premium</p>
        <a id="paypal-button-3"></a>
    </div>
</div>