<div class="container">
    <div class="row">
        <div class="col-4">
        
            <h1 class="mt-5 ms-5" style="font-size: 4em;">C O K E N</h1>
            <p class="mt-3 ms-5">
                Coken es una página pensada para administrar
            </p>
            <p class="mt-1 ms-5">
                y mejorar la gestión de negocios de todo tipo.
            </p>
        
        </div>
        <div class="col-1"></div>
        <div class="col-7 mt-4"> <img class="ms-5" src="./../../assets/almacenes.jpg" style="height: 16em; width:auto; right: 150em;"></div>
        
        <hr class="mt-4" style="height: 3px; color:black;">
    </div>

    <div class="row">
        <div class="col-6">
            <img class="ms-5 mt-5" src="./../../assets/almacen_2.jpg" style="height: 20em; width:auto; right: 150em;">
        </div>

        <div class="col-6">
            <p style="margin-top: 55px;">
                Utiliza COKEN para administrar y gestionar tu negocio.
            </p>
            
            <ul class="mt-4" style="font-size: 1.5em;">
                <li>Agrega tus productos</li>
                <li class="mt-3">Revisa tus precios</li>
                <li class="mt-3">Analiza tu almacen</li>
            </ul>

        </div>
    </div>

    <div class="row mt-5">
        <div class="col-5">
            <hr class="mt-4" style="height: 3px; color:black;">
        </div>

        <div class="col-2">
            <p class="mt-2 ms-4" style="font-size: 1.5em;">
                Pensado para
            </p>
        </div>

        <div class="col-5">
            <hr class="mt-4" style="height: 3px; color:black;">
        </div>
    </div>

    <div class="row text-center">
        <div class="col"></div>
        <div class="col-6">
            <p>Pequeña empresa, negocios familiares y emprendedores.</p>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-7">
            <img class="ms-5 mt-5" src="./../../assets/almacen_3.jpg" style="height: 20em; width:auto; margin-right: 15em;">
        </div>
        <div class="col"></div>
    </div>

    <div class="row mt-5">
        <div class="col-5">
            <hr class="mt-4" style="height: 3px; color:black;">
        </div>

        <div class="col-2">
            <p class="mt-2 ms-5" style="font-size: 1.5em;">
                Asociados
            </p>
        </div>

        <div class="col-5">
            <hr class="mt-4" style="height: 3px; color:black;">
        </div>
    </div>

    <div class="row">
        <div class="col"></div>
        <div class="col-2">
            <img class="ms-4 mt-5" src="./../../assets/utng.jpg" style="height: 10em; width:auto; margin-right: 15em;">
        </div>
        <div class="col"></div>
    </div>

    <div class="mt-5"></div>
</div>